// Overwrite the default variables of bootstrap/scss/_variables.scss below

// for example

$body-bg: #FBFBFB;
$body-secondary-bg: #D9D9D9;

$primary: #CD3D32;
$secondary: #3f9d18;

$light: #F7F7F7;
$dark: #3B4043;

// $info: #ce7777;
// $success: #41b468;
// $warning: #edcd3c;
// $danger: #f62234e7;

$focus-ring-color: var(--bs-secondary);
$form-check-input-checked-bg-color: var(--bs-secondary);